body {
  background-color: #fff;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/*btn-default used to override bootstrap styling */
.btn.btn-default {
  padding: 0.5rem 1rem;
  width: auto;
  border: 1px;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}

/*btn-default used to override bootstrap styling */
.btn-red.btn-default {
  background-color: darkred;
  color: #fff;
  margin: 1rem 0.2rem;
}

.btn-red.btn-default:hover {
  background-color: darkslateblue;
  color: #fff;
}

.btn-sm.btn-default {
  padding: 0.2rem 1rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.quiz-btn {
  background-color: darkred;
  color: #fff;
  margin: 1rem 0.2rem;
  padding: 0.5rem 1rem;
  width: auto;
  border: 1px;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}

.quiz-btn:hover {
  box-shadow: 0 0 1rem 0 rgba(2, 34, 221, 0.4);
  transform: scale(1.05);
  background-color: slateblue;
}

/* Override bootstrap default style navbar colour */
.navbar-custom {
  background-color: gold;
}

.navbar {
  overflow: hidden;
  padding: 0.1rem 1rem;
}

.navbar a {
  color: blue;
  display: block;
  float: left;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  color: darkred;
}

/* Containers style */

.container {
  padding: 0 6rem;
  width: 100%;
}

.row {
  display: flex;
  padding: 1rem;
}

/* Hero section */

.hero {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/hero-img.png");
  background-attachment: fixed;
}

.hero .cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

/* How to play section */

.bg-blue {
  background-color: blue;
  color: #fff;
}

/*How to play image styling */

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Quiz buttons */

.quiz-controls {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  padding: 5rem;
}

.hide {
  display: none;
}

/* Quiz section styling */

#quiz-section {
  background-color: gainsboro;
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#quiz-container {
  margin: 2rem 0.5rem;
  padding: 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.4);
}

#quiz-area {
  display: flex;
  justify-content: space-between;
}

.quiz-marker {
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem;
}

.quiz-text {
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid;
  border-radius: 0.5rem;
}

#question {
  margin-bottom: 1rem;
}

/* Progress bar style */
#quiz-progress {
  width: 20rem;
  height:  0.5rem;
  border: solid 0.1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: #fff;
  overflow: hidden;
}

#quiz-progress-max {
  height: 0.25rem;
  background-color: blue;
  width: 0%;
}

/* Answer options styling */
.answer-area {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  border: solid 0.1rem blue;
  border-radius: 0.5rem;
  background-color: gold;
  font-weight: bold;
}

.answer-area:hover {
  box-shadow: 0 1rem 1rem 0 rgba(2, 34, 221, 0.4);
  cursor: crosshair;
  transform: scale(1.05);
}

.answer-option {
  padding: 1.5rem;
  font-size: 1rem;
  color: blue;
  width: 100%;
}

/* Styling for when answered correct / incorrect */
.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

/* Modal overlay - Resource: w3schools.com */
#end-overlay {
  display: none;
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  background-color: blue;
}

.end-screen {
  position: fixed;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-repeat: repeat-y;
  background-image: url("../img/hero-img.png");
}

.modal-content {
  margin-top: 40%;
  padding: 1.5rem;
  width: 100%;
}

#user-score {
  font-size: 1.5rem;
  color: blue;
}


/*footer styling */

footer {
  background-color: red;
  padding-bottom: 1rem;
}

#footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  color: #fff;
}

/* Media query for screens over 900px */
@media screen and (min-width: 900px) {
  
}

/* Media query for larger screens */

@media screen and (min-width: 600px) {
  .row {
    display: flex;
  }
  
  .col-half {
    max-width: 50%;
    padding: 1rem;
    margin: 1rem;
    flex: 1;
    justify-content: center;
  }

  .col-full {
    width: 100%;
    flex: 0 0 auto;
  }

}

/* Media query for medium screens */

@media screen and (max-width: 600px) {
  #quiz-progress {
    width: 15rem;
    overflow: hidden;
  }
}

/* Media query for smaller screens */

@media screen and (max-width: 440px) {
  #quiz-progress {
    width: 10rem;
    overflow: hidden;
  }
}

/* Media query for small screens */

@media screen and (max-width: 356px) {
  #quiz-progress {
    width: 8rem;
    overflow: hidden;
  }
}