body {
  background-color: #fff;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* Override bootstrap default style navbar colour */
.navbar-custom {
  background-color: gold;
}

.navbar {
  overflow: hidden;
  padding: 0.1rem 1rem;
}

.navbar a {
  color: blue;
  display: block;
  float: left;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  color: red;
}

/* Hero section */

.hero {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/hero-img.png");
  background-attachment: fixed;
}

.hero .cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

/* How to play section */

.bg-blue {
  background-color: blue;
  color: #fff;
}

/*How to play image styling */

.container {
  padding: 0 6rem;
  width: 100%;
}

.row {
  display: flex;
  padding: 1rem;
  width: 100%;
}

.col-half {
  max-width: 50%;
  padding: 1rem;
  flex: 1;
  justify-content: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Quiz section styling */

footer {
  background-color: red;
  padding-bottom: 1rem;
}

#footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  color: #fff;
}