body {
  background-color: #fff;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/*btn-default used to override bootstrap styling */
.btn.btn-default {
  padding: 0.5rem 1rem;
  width: auto;
  border: 1px;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}

/*btn-default used to override bootstrap styling */
.btn-red.btn-default {
  background-color: darkred;
  color: #fff;
}

.btn-red.btn-default:hover {
  background-color: darkslateblue;
  color: #fff;
}

.btn-sm.btn-default {
  padding: 0.2rem 1rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Override bootstrap default style navbar colour */
.navbar-custom {
  background-color: gold;
}

.navbar {
  overflow: hidden;
  padding: 0.1rem 1rem;
}

.navbar a {
  color: blue;
  display: block;
  float: left;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  color: darkred;
}

/* Containers style */

.container {
  padding: 0 6rem;
  width: 100%;
}

.row {
  display: flex;
  padding: 1rem;
}

/* Hero section */

.hero {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/hero-img.png");
  background-attachment: fixed;
}

.hero .cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

/* How to play section */

.bg-blue {
  background-color: blue;
  color: #fff;
}

/*How to play image styling */

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Quiz section styling */

#quiz-section {
  background-color: gainsboro;
  padding: 1rem;
}

#game-container {
  margin: 3rem 1rem;
}

.form-label {
  margin-bottom: 0.25rem;
}

/* .form-control {
  display: block;
  width: 75%;
} */

/* Scores table style */

#score-section {
  background-color: gainsboro;
  padding: 1rem;
  text-align: center;
}
.score-head {
  margin: 0 auto;
}

table {
  width: 100%;
  border: 0.1rem solid;
  margin: 0.5rem;
  border-collapse: collapse;
}

th {
  border: 1rem solid;
  padding: 0.25rem;
  background-color: blue;
  color: #fff;
}

tbody {
  background-color: #fff;
}
/*footer styling */

footer {
  background-color: red;
  padding-bottom: 1rem;
}

#footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  color: #fff;
}

/* Media query for screens over 900px */
@media screen and (min-width: 900px) {
  .form-control {
    display: block;
    max-width: 70%;
  }
}

/* Media query for larger screens */

@media screen and (min-width: 600px) {
  .row {
    display: flex;
  }
  
  .col-half {
    max-width: 50%;
    padding: 1rem;
    margin: 1rem;
    flex: 1;
    justify-content: center;
  }

  .col-full {
    width: 100%;
    flex: 0 0 auto;
  }

}

/* Media query for smaller screens */

@media screen and (max-width: 600px) {
  .form-control {
    display: block;
    width: 100%;
  }
}